
    /*푸드트럭정보*/
    .table1 .foodinfor {
      width: 50%;
    }

    .truck-panel-header {
      text-align: center;
      font-weight: bold;
      font-size: 13pt;
    }

    .panel-1 {
      /*기본정보*/
      text-align: center;
    }

    .panel-2 {
      /*메뉴 리뷰 이벤*/
      text-align: center;
    }

    .panel-2-body-font {
      font-size: 12pt;
      font-weight: bold;
    }

    #truck-title-p {
      font-size: 15pt;
      font-weight: bold;
    }

    .truck-basic-font {
      font-size: 13pt;
    }

    .truck-basic-font-bold {
      font-weight: bold;
    }
    
    .result-btn-positon {
      text-align: center;
    }
      .result-btn {
      width: 90px;
      border-radius: 3px;
      border-color: transparent;
      background: green;
    }

    .icon {
      color: blue;
      font-size: 15px;
      /*추후수정*/
    }
    
    
@media(max-width:1199px) {
      .truck-img-replace{
        width: 84%;
      }

    }

    @media(max-width:991px) {
      /*해상도가 작을 때 드랍다운 아이템에 마우스를 올렸을때*/
      .truck-img-replace {
        width: 100%;
        height: 20;
      }
      .truck-img-replace{
        width: 96%;
      }

      #truck-check-img{
        height: 200px;
      }

    }


    @media(max-width:480px) {
      /*해상도가 작을 때 드랍다운 아이템에 마우스를 올렸을때*/
      .truck-img-replace {
        width: 94%;
        height: 20;
      }
     
      #truck-check-img{
        height: 200px;
      }
    }